/* General Style */

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
}

body {
    background-image: url("https://images.unsplash.com/photo-1465311440653-ba9b1d9b0f5b?dpr=1&auto=format&fit=crop&w=1500&h=844&q=80&cs=tinysrgb&crop=");
    background-repeat: no-repeat;
    background-size: cover;
    
    color: white;
    font-family: Roboto, sans-serif;
}

/* Sections style */

/* Each section tag will be positioned fixed */
section {
    position: fixed;
}

/* General positioning */
.top {
    top: 15px;
}

.middle {
    top: 50%;
    transform: translateY(-50%);
}

.third-from-top {
    top: 66%;
}

.bottom {
    bottom: 15px;
}

.left {
    left: 15px;
}

.center {
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

.right {
    right: 15px;
}

.middle.center {
    transform: translate(-50%, -50%);
}

/* Middle section style */

#time {
    font-size: 140px;
    line-height: 120px;
}

#greeting {
    font-size: 48px;
}

/* Third from top section style */

h3 {
    font-size: 32px;
}
h4 {
    font-size: 24px;
    text-transform: uppercase;
}

/* Quote style */
#quote {
    color: #ddd;
    font-style: italic;
}